<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console">
            <PatternLayout
                    pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %method - %m%n%ex}"/>
        </Console>

        <!--<RollingFile name="RollingFile" fileName="logs/hw3.log"-->
        <!--filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">-->
        <!--<PatternLayout-->
        <!--pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %method - %msg%n%ex"/>-->
        <!--<Policies>-->
        <!--<OnStartupTriggeringPolicy/>-->
        <!--<SizeBasedTriggeringPolicy size="20 MB"/>-->
        <!--</Policies>-->
        <!--</RollingFile>-->
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="RollingFile"/>-->
        </Root>
        <Logger name="net.tomp2p" level="warn"/>
        <Logger name="io.netty" level="warn"/>
    </Loggers>
</Configuration>
